/* Dark mode smooth animated gradient */
.dark .bg-animated {
  background: linear-gradient(
    -45deg,
    #1f2937,
    #4c1d95,
    #9333ea,
    #1f2937
  );
  background-size: 300% 300%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}